.gameBtn{
  text-align: center;
  margin: 20px auto;
}

.color{
  border: 2px solid black;
  width: 200px;
  height:200px;
  background-color: gray;
}

[data-color="red"].active{
  background: red;
}

[data-color="blue"].active{
  background: blue;
}

.grayAgain{
  background: gray;
}
