body{
  background-image: url("paintdrip.png");
}
.gameBtn{
  text-align: center;
  margin: 20px auto;
}

h1{
  font-family: 'Chewy', cursive;
  letter-spacing: 3px;
  font-size: 80px;
  color:rgb(244, 73, 211);
  /*Effects: http://css3gen.com/css3-text-effects/*/
  text-shadow:#ec985c 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,rgba(0,0,0,.30) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px, rgba(0,0,0,.5) 0 1px 3px, rgba(0,0,0,.8) 0 3px 5px, rgba(0,0,0,.25) 0 5px 10px, rgba(0,0,0,.8) 0 10px 10px, rgba(0,0,0,.5) 0 20px 20px;
}

button{
  background-color:rgb(244, 234, 245) ;
  border: 2px solid rgb(241, 159, 242);
  border-radius: 4px;
  font-size: 20px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);

}

#board{
  width: 430px;
  height: 430px;
  margin: 0 auto;}

.color{
  border: 2px solid black;
  width: 200px;
  height:200px;
  background-color: gray;
  border-radius: 20px;
  margin: 5px;
  float: right;
}

[data-color="red"].active{
  background: red;
}

[data-color="blue"].active{
  background: blue;
}

.grayAgain{
  border:2px solid green;
}

.win{
  text-align: center;
}

.hidden{
  visibility: hidden;
}

.visible{
  visibility: visible;
  text-align: center;
  margin: 20px auto;
}
