.gameBtn{
  text-align: center;
  margin: 20px auto;
}

#board{
  width: 430px;
  height: 430px;
  margin: 0 auto;}

.color{
  border: 2px solid black;
  width: 200px;
  height:200px;
  background-color: gray;
  border-radius: 20px;
  margin: 5px;
  float: right;
}

[data-color="red"].active{
  background: red;
}

[data-color="blue"].active{
  background: blue;
}

.grayAgain{
  border:2px solid green;
}

.win{
  text-align: center;
}

.hidden{
  visibility: hidden;
}

.visible{
  visibility: visible;
}
